env
.env
.venv
.git
.github
.dockerignore
.gcloudignore
.gitignore
*.example
.devcontainer
Dockerfile
dockerfile-bake.hcl
.editorconfig
AUTHORS.md
CONTRIBUTING.md
LICENSE
Makefile
NOTICE
README.md
arm/
powerpc/
mips/
vendor/
docs/
build/